<a href="https://colab.research.google.com/github/AlertaDengue/curso-pysus/blob/main/Primeiros_Passos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando o PySUS
Para instalar o PySUS, basta executar o comando abaixo:

In [2]:
!pip install pysus

exec: Failed to execute process '/home/fccoelho/.local/bin/pip': The file specified the interpreter '/home/fccoelho/MEGAsync/Papers/DENGUE-SC/.venv/local/bin/python3', which is not an executable command.

Se você está utilizando o Google Colab, lembre-se de reiniciar o ambiente de execução após a instalação.

## Explorando as funcionalidades do PySUS
O PySUS é uma biblioteca que permite o acesso a dados públicos do SUS. Atualmente, o PySUS permite o acesso a dados do SINAN, SIH, SIA, SIM, PNI, CIHA, SINASC e CNES, dentre outras.

Além dos dados do DATASUS, o PySUS também facilita o acesso a dados de outras fontes, como o IBGE, e os projetos InfoGripe e InfoDengue.

## Gerenciando os dados
O PySUS permite o acesso a dados públicos do SUS de forma simples e direta. Para isso, basta importar o módulo de interesse e utilizar as funções disponíveis. O dados são salvos localmente no cache local do PySUS, que por default é o diretório `~/pysus`. (diretório pysus na pasta home do usuário). Os dados podem ser acessados posteriormente sem a necessidade de realizar o download novamente. Os dados são salvos em formato Parquet, que é um formato de dados colunar, que permite o acesso rápido aos dados.

Caso você queira obter a última versão disponível de um conjunto de dados,lembre-se de apagar o arquivo correspondente no diretório de cache do PySUS, caso você já o tenha baixado anteriormente.

In [7]:
from pysus.online_data import SIM, parquets_to_dataframe

Como um exemplo, vamos baixar dados de mortalidade do estado do Rio de Janeiro em 2018. Para faciliter o manuseio dos dados o PySUS divide o conjunto de dados em vários arquivos e os coloca em um diretório.

In [16]:
arquivos = SIM.download(groups=["cid10"],states='RJ', years=2018)
arquivos

100%|██████████| 10.9M/10.9M [00:00<00:00, 6.67GB/s]

/home/fccoelho/pysus/DORJ2018.parquet

In [22]:
import os 
df = parquets_to_dataframe(arquivos.path)
df

/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/fastparquet/dataframe.py:227: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype):
/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/pysus/online_data/__init__.py:111: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[columns] = df[columns].applymap(func)
/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/pysus/online_data/__init__.py:111: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[columns] = df[columns].applymap(func)
/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/pysus/online_data/__init__.py:131: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,23022018,0530,833,330455,20121935,482,2,1,...,,,,,,,,,,1
1,1,2,07042018,0945,833,330630,23031948,470,2,1,...,,,,,,,,,,2
2,1,2,24042018,0940,833,330630,24031931,487,2,1,...,,,,,,,,,,3
3,1,2,17012018,1215,833,330630,11011938,480,1,1,...,,,,,,,,,,4
4,1,2,18082018,1600,833,330630,15081927,491,2,1,...,,,,,,,,,,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140701,1,2,27122018,1544,835,352270,04051955,463,1,1,...,,,,,,,,,,1311220
140702,1,2,27112018,0432,833,330480,20081993,425,1,1,...,,,,,,,,,,1311758
140703,1,2,22122018,1440,833,330455,03021959,459,2,1,...,,,,,,,,,,1313325
140704,1,2,05122018,1838,831,312650,16031934,484,2,1,...,,,,,,,,,,1313745
140705,1,2,29122018,1234,833,330455,27041960,458,2,1,...,,,,,,,,,,1314278

In [19]:
os.listdir(arquivos)

TypeError: listdir: path should be string, bytes, os.PathLike, integer or None, not ParquetSet

In [21]:
dir(arquivos)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__path__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'info',
 'path',
 'to_dataframe']