<a href="https://colab.research.google.com/github/AlertaDengue/curso-pysus/blob/main/Primeiros_Passos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalando o PySUS
Para instalar o PySUS, basta executar o comando abaixo:

In [2]:
!pip install pysus

exec: Failed to execute process '/home/fccoelho/.local/bin/pip': The file specified the interpreter '/home/fccoelho/MEGAsync/Papers/DENGUE-SC/.venv/local/bin/python3', which is not an executable command.

Se você está utilizando o Google Colab, lembre-se de reiniciar o ambiente de execução após a instalação.

## Explorando as funcionalidades do PySUS
O PySUS é uma biblioteca que permite o acesso a dados públicos do SUS. Atualmente, o PySUS permite o acesso a dados do SINAN, SIH, SIA, SIM, PNI, CIHA, SINASC e CNES, dentre outras.

Além dos dados do DATASUS, o PySUS também facilita o acesso a dados de outras fontes, como o IBGE, e os projetos InfoGripe e InfoDengue.

## Gerenciando os dados
O PySUS permite o acesso a dados públicos do SUS de forma simples e direta. Para isso, basta importar o módulo de interesse e utilizar as funções disponíveis. O dados são salvos localmente no cache local do PySUS, que por default é o diretório `~/pysus`. (diretório pysus na pasta home do usuário). Os dados podem ser acessados posteriormente sem a necessidade de realizar o download novamente. Os dados são salvos em formato Parquet, que é um formato de dados colunar, que permite o acesso rápido aos dados.

Caso você queira obter a última versão disponível de um conjunto de dados,lembre-se de apagar o arquivo correspondente no diretório de cache do PySUS, caso você já o tenha baixado anteriormente.

In [1]:
from pysus.online_data import SIM, parquets_to_dataframe

Como um exemplo, vamos baixar dados de mortalidade do estado do Rio de Janeiro em 2018. Para faciliter o manuseio dos dados o PySUS divide o conjunto de dados em vários arquivos e os coloca em um diretório.

In [2]:
arquivos = SIM.download(groups=["cid10"],states='RJ', years=2018)
arquivos

100%|██████████| 10.9M/10.9M [00:00<00:00, 4.26GB/s]

/home/fccoelho/pysus/DORJ2018.parquet

In [10]:
import os 
df = arquivos.to_dataframe()
print(df.shape)
df.head()

/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/fastparquet/dataframe.py:227: FutureWarning: is_categorical_dtype is deprecated and will be removed in a future version. Use isinstance(dtype, CategoricalDtype) instead
  if is_categorical_dtype(dtype):
/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/pysus/data/__init__.py:138: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[columns] = df[columns].applymap(func)
/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/pysus/data/__init__.py:138: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[columns] = df[columns].applymap(func)
/home/fccoelho/MEGAsync/Cursos/curso-pysus/.venv/lib/python3.11/site-packages/pysus/data/__init__.py:160: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(

(140706, 88)

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,23022018,0530,833,330455,20121935,482,2,1,...,,,,,,,,,,1
1,1,2,07042018,0945,833,330630,23031948,470,2,1,...,,,,,,,,,,2
2,1,2,24042018,0940,833,330630,24031931,487,2,1,...,,,,,,,,,,3
3,1,2,17012018,1215,833,330630,11011938,480,1,1,...,,,,,,,,,,4
4,1,2,18082018,1600,833,330630,15081927,491,2,1,...,,,,,,,,,,5

Neste exemplo foi possível carregar todos os dados de mortalidade do estado do Rio de Janeiro em 2018 para um único dataframe. Mas caso seu computador não consiga acomodar na memória RAM todos os dados de uma vez, Você os pode carregar em partes. Vejamos como:

In [6]:
import glob
import pandas as pd

A função glob nos permite listar todos os arquivos de um diretório. No exemplo abaixo, listamos todos os arquivos do diretório de cache contendo os dados que acabamos de baixar.

In [7]:
glob.glob(f'{arquivos.path}/*.parquet')

['/home/fccoelho/pysus/DORJ2018.parquet/049b523cd5b9483796b2b156fcd59ffe-0.parquet',
 '/home/fccoelho/pysus/DORJ2018.parquet/590e1db1772642de95dc19e71b037f0e-0.parquet',
 '/home/fccoelho/pysus/DORJ2018.parquet/864dea10fffe44208b3136b166757ce3-0.parquet',
 '/home/fccoelho/pysus/DORJ2018.parquet/81a90548316a42469545bd74910d970b-0.parquet',
 '/home/fccoelho/pysus/DORJ2018.parquet/1fd35de2832341779e4bdada13f66a89-0.parquet']

Com um pouco mais de código, podemos um arquivo de cada vez. Vejamos como:

In [8]:
for arq in glob.glob(f'{arquivos.path}/*.parquet'):
    df = pd.read_parquet(arq)
    print(df.shape)
df.head()

(30000, 88)
(30000, 88)
(30000, 88)
(30000, 88)
(20706, 88)

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,...,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,25082018,1142,833,330455,01091950,467,1,4,...,,,,,,,,,,1098464
1,1,2,03112018,1015,833,330455,12071972,446,2,1,...,,,M,,,,,,,1098465
2,1,2,14122018,0910,833,330455,23091934,484,2,2,...,,,,,,,,,,1098466
3,1,2,25092018,2310,833,330455,31071950,468,1,1,...,,,,,,,,,,1098467
4,1,2,18112018,0800,833,330000,12011929,489,2,1,...,,,,,,,,,,1098468