<a href="https://colab.research.google.com/github/AlertaDengue/curso-pysus/blob/main/IBGE/IBGE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
# Explorando e Baixando dados do IBGE
O PySUS simplifica o acesso a bases de dados do IBGE que são relevants para análise de dados de saúde. Neste notebook vamos explorar as bases disponíveis e baixar algumas delas.

In [1]:
import pandas as pd
from pysus.online_data import IBGE

import ipywidgets as widgets
%matplotlib inline

O IBGE chama de agregados os conjuntos de dados associados a uma pesquisa.

In [4]:
IBGE.list_agregados?

In [3]:
ag = IBGE.list_agregados()
ag.head(10)

Fetching Data groupings from https://servicodados.ibge.gov.br/api/v3/agregados?

,id,nome,agregados
0,D5,Áreas Urbanizadas,"[{'id': '8418', 'nome': 'Áreas urbanizadas, Lo..."
1,CL,Cadastro Central de Empresas,"[{'id': '1685', 'nome': 'Unidades locais, empr..."
2,CA,Censo Agropecuário,"[{'id': '1005', 'nome': 'Número de estabelecim..."
3,ME,"Censo Comum do Mercosul, Bolívia e Chile","[{'id': '1221', 'nome': 'População residente, ..."
4,CD,Censo Demográfico,"[{'id': '102', 'nome': 'Mulheres de 10 anos ou..."
5,CM,Contagem da População,"[{'id': '305', 'nome': 'População residente em..."
6,DU,Contas de ecossistemas: o uso da terra nos bio...,"[{'id': '7016', 'nome': 'Contas de extensão do..."
7,DT,Contas de Espécies Ameaçadas,"[{'id': '7392', 'nome': 'Número de espécies da..."
8,C4,Contas Econômicas Ambientais da Água,"[{'id': '6834', 'nome': 'Total de Recursos Híd..."
9,DR,Contas Econômicas Ambientais da Terra: Contabi...,"[{'id': '7319', 'nome': 'Estoque, por classes ..."

A linha 4 na tabela acima refere-se a uma categoria de "Censo Demográfico" cujo *ID* é *CD*. Esta categoria diversos agregados.

In [36]:
lista_CD_ag = ag[ag.id=='CD'].agregados.iloc[0]
len(lista_CD_ag)

938

In [39]:
cd_ag = pd.DataFrame(lista_CD_ag)
cd_ag.head(10)

     id                                               nome
0   102  Mulheres de 10 anos ou mais de idade, que vivi...
1   103  Mulheres de 10 anos ou mais de idade, que vivi...
2   105  Filhos tidos nascidos vivos das mulheres de 10...
3   107  Mulheres de 10 anos ou mais de idade, que tive...
4   108  Mulheres de 10 anos ou mais de idade, resident...
5  1134  Domicílios particulares permanentes, por situa...
6  1161  Domicílios particulares permanentes, por situa...
7  1206  Pessoas de 10 anos ou mais de idade, por estad...
8  1209                     População, por grupos de idade
9  1211  Domicílios particulares permanentes e Moradore...

In [43]:
opts= [(r.nome, int(r.id)) for r in cd_ag.itertuples()]
ds = widgets.Dropdown(
    options=opts,
    value=1134,
    description='Agregado:',
)
display(ds)
IBGE.metadados(ds.value)

Dropdown(description='Number:', index=5, options=(('Mulheres de 10 anos ou mais de idade, que viviam em união …

{'statusCode': 500, 'message': 'Internal server error'}