<a href="https://colab.research.google.com/github/AlertaDengue/curso-pysus/blob/main/IBGE/IBGE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
# Explorando e Baixando dados do IBGE
O PySUS simplifica o acesso a bases de dados do IBGE que são relevants para análise de dados de saúde. Neste notebook vamos explorar as bases disponíveis e baixar algumas delas.

In [46]:
import pandas as pd
from pysus.online_data import IBGE

import ipywidgets as widgets
from ipywidgets import interact
%matplotlib inline

O IBGE chama de agregados os conjuntos de dados associados a uma pesquisa.

In [4]:
IBGE.list_agregados?

In [3]:
ag = IBGE.list_agregados()
ag.head(10)

Fetching Data groupings from https://servicodados.ibge.gov.br/api/v3/agregados?

,id,nome,agregados
0,D5,Áreas Urbanizadas,"[{'id': '8418', 'nome': 'Áreas urbanizadas, Lo..."
1,CL,Cadastro Central de Empresas,"[{'id': '1685', 'nome': 'Unidades locais, empr..."
2,CA,Censo Agropecuário,"[{'id': '1005', 'nome': 'Número de estabelecim..."
3,ME,"Censo Comum do Mercosul, Bolívia e Chile","[{'id': '1221', 'nome': 'População residente, ..."
4,CD,Censo Demográfico,"[{'id': '102', 'nome': 'Mulheres de 10 anos ou..."
5,CM,Contagem da População,"[{'id': '305', 'nome': 'População residente em..."
6,DU,Contas de ecossistemas: o uso da terra nos bio...,"[{'id': '7016', 'nome': 'Contas de extensão do..."
7,DT,Contas de Espécies Ameaçadas,"[{'id': '7392', 'nome': 'Número de espécies da..."
8,C4,Contas Econômicas Ambientais da Água,"[{'id': '6834', 'nome': 'Total de Recursos Híd..."
9,DR,Contas Econômicas Ambientais da Terra: Contabi...,"[{'id': '7319', 'nome': 'Estoque, por classes ..."

A linha 4 na tabela acima refere-se a uma categoria de "Censo Demográfico" cujo *ID* é *CD*. Esta categoria diversos agregados.

In [36]:
lista_CD_ag = ag[ag.id=='CD'].agregados.iloc[0]
len(lista_CD_ag)

938

In [39]:
cd_ag = pd.DataFrame(lista_CD_ag)
cd_ag.head(10)

     id                                               nome
0   102  Mulheres de 10 anos ou mais de idade, que vivi...
1   103  Mulheres de 10 anos ou mais de idade, que vivi...
2   105  Filhos tidos nascidos vivos das mulheres de 10...
3   107  Mulheres de 10 anos ou mais de idade, que tive...
4   108  Mulheres de 10 anos ou mais de idade, resident...
5  1134  Domicílios particulares permanentes, por situa...
6  1161  Domicílios particulares permanentes, por situa...
7  1206  Pessoas de 10 anos ou mais de idade, por estad...
8  1209                     População, por grupos de idade
9  1211  Domicílios particulares permanentes e Moradore...

In [49]:
opts= [(r.nome, int(r.id)) for r in cd_ag.itertuples()]
ds = widgets.Dropdown(
    options=opts,
    value=1134,
    description='Agregado:',
)
# display(ds)
@interact
def show_metadados(id=ds):
    IBGE.metadados(id.value)

interactive(children=(Dropdown(description='Agregado:', index=5, options=(('Mulheres de 10 anos ou mais de ida…

Para cada um dos agregados, podemos listar os períodos disponíveis.

In [51]:
IBGE.lista_periodos(1209)

      id literals modificacao
0   1872   [1872]  29/04/2009
1   1890   [1890]  08/02/2010
2   1900   [1900]  29/04/2009
3   1920   [1920]  29/04/2009
4   1940   [1940]  29/04/2009
5   1950   [1950]  29/04/2009
6   1960   [1960]  29/04/2009
7   1970   [1970]  29/04/2009
8   1980   [1980]  29/04/2009
9   1991   [1991]  29/04/2009
10  2000   [2000]  29/04/2009
11  2010   [2010]  26/10/2023
12  2022   [2022]  27/10/2023

podemos tambem explorar a cobertura espacial de cada agregado.

In [53]:
IBGE.localidades_por_agregado(1209, nivel='N3')

    id                 nome                                         nivel
0   11             Rondônia  {'id': 'N3', 'nome': 'Unidade da Federação'}
1   12                 Acre  {'id': 'N3', 'nome': 'Unidade da Federação'}
2   13             Amazonas  {'id': 'N3', 'nome': 'Unidade da Federação'}
3   14              Roraima  {'id': 'N3', 'nome': 'Unidade da Federação'}
4   15                 Pará  {'id': 'N3', 'nome': 'Unidade da Federação'}
5   16                Amapá  {'id': 'N3', 'nome': 'Unidade da Federação'}
6   17            Tocantins  {'id': 'N3', 'nome': 'Unidade da Federação'}
7   21             Maranhão  {'id': 'N3', 'nome': 'Unidade da Federação'}
8   22                Piauí  {'id': 'N3', 'nome': 'Unidade da Federação'}
9   23                Ceará  {'id': 'N3', 'nome': 'Unidade da Federação'}
10  24  Rio Grande do Norte  {'id': 'N3', 'nome': 'Unidade da Federação'}
11  25              Paraíba  {'id': 'N3', 'nome': 'Unidade da Federação'}
12  26           Pernambuco  {'id': 'N3', 'nome': 'Unidade da Federação'}
13  27              Alagoas  {'id': 'N3', 'nome': 'Unidade da Federação'}
14  28              Sergipe  {'id': 'N3', 'nome': 'Unidade da Federação'}
15  29                Bahia  {'id': 'N3', 'nome': 'Unidade da Federação'}
16  31         Minas Gerais  {'id': 'N3', 'nome': 'Unidade da Federação'}
17  32       Espírito Santo  {'id': 'N3', 'nome': 'Unidade da Federação'}
18  33       Rio de Janeiro  {'id': 'N3', 'nome': 'Unidade da Federação'}
19  35            São Paulo  {'id': 'N3', 'nome': 'Unidade da Federação'}
20  41               Paraná  {'id': 'N3', 'nome': 'Unidade da Federação'}
21  42       Santa Catarina  {'id': 'N3', 'nome': 'Unidade da Federação'}
22  43    Rio Grande do Sul  {'id': 'N3', 'nome': 'Unidade da Federação'}
23  50   Mato Grosso do Sul  {'id': 'N3', 'nome': 'Unidade da Federação'}
24  51          Mato Grosso  {'id': 'N3', 'nome': 'Unidade da Federação'}
25  52                Goiás  {'id': 'N3', 'nome': 'Unidade da Federação'}
26  53     Distrito Federal  {'id': 'N3', 'nome': 'Unidade da Federação'}

## Baixando os dados
Até agora só exploramos os dados existentes e seus metadados. Vamos agora baixar alguns dados.

In [69]:
ds = IBGE.FetchData(475,periodos=1996,variavel=93,localidades='N3[all]',
                              classificacao='58[all]|2[4,5]|1[all]',view='flat')
ds.JSON[0]

Fetching https://servicodados.ibge.gov.br/api/v3/agregados/475/periodos/1996/variaveis/93?localidades=N3[all]&classificacao=58[all]|2[4,5]|1[all]&view=flat

{'NC': 'Nível Territorial (Código)',
 'NN': 'Nível Territorial',
 'MC': 'Unidade de Medida (Código)',
 'MN': 'Unidade de Medida',
 'V': 'Valor',
 'D1C': 'Unidade da Federação (Código)',
 'D1N': 'Unidade da Federação',
 'D2C': 'Ano (Código)',
 'D2N': 'Ano',
 'D3C': 'Variável (Código)',
 'D3N': 'Variável',
 'D4C': 'Grupo de idade (Código)',
 'D4N': 'Grupo de idade',
 'D5C': 'Sexo (Código)',
 'D5N': 'Sexo',
 'D6C': 'Situação do domicílio (Código)',
 'D6N': 'Situação do domicílio'}

In [71]:
ds.to_dataframe().head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Unidade da Federação (Código),Unidade da Federação,Ano (Código),Ano,Variável (Código),Variável,Grupo de idade (Código),Grupo de idade,Sexo (Código),Sexo,Situação do domicílio (Código),Situação do domicílio
1,3,Unidade da Federação,45,Pessoas,633594,11,Rondônia,1996,1996,93,População residente,0,Total,4,Homens,0,Total
2,3,Unidade da Federação,45,Pessoas,380119,11,Rondônia,1996,1996,93,População residente,0,Total,4,Homens,1,Urbana
3,3,Unidade da Federação,45,Pessoas,253475,11,Rondônia,1996,1996,93,População residente,0,Total,4,Homens,2,Rural
4,3,Unidade da Federação,45,Pessoas,595712,11,Rondônia,1996,1996,93,População residente,0,Total,5,Mulheres,0,Total

## Acessando a API SIDRA
A SIDRA é uma API do IBGE que permite acesso a dados de diversas pesquisas. O PySUS permite acesso a esta API.
A tabela 200 é uma amostra da população residente no Brasil. o "territorial_level" indica o nível geográfico da tabela. O nível 6 indica municípios. A classificação 2 indica que a tabela é desagregada por sexo e a categoria "all" indica que queremos todos os valores de sexo.

In [72]:
df = IBGE.get_sidra_table(200,territorial_level=6,classification=2, categories='all')
df.head()

Requesting data from https://apisidra.ibge.gov.br/values/t/200/n6/all/c2/all

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Município (Código),Município,Sexo (Código),Sexo,Ano (Código),Ano,Variável (Código),Variável,Situação do domicílio (Código),Situação do domicílio,Grupo de idade (Código),Grupo de idade
1,6,Município,45,Pessoas,24392,1100015,Alta Floresta D'Oeste - RO,0,Total,2010,2010,93,População residente,0,Total,0,Total
2,6,Município,45,Pessoas,12656,1100015,Alta Floresta D'Oeste - RO,4,Homens,2010,2010,93,População residente,0,Total,0,Total
3,6,Município,45,Pessoas,11736,1100015,Alta Floresta D'Oeste - RO,5,Mulheres,2010,2010,93,População residente,0,Total,0,Total
4,6,Município,45,Pessoas,90353,1100023,Ariquemes - RO,0,Total,2010,2010,93,População residente,0,Total,0,Total
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16691,6,Município,45,Pessoas,2689,5222302,Vila Propício - GO,4,Homens,2010,2010,93,População residente,0,Total,0,Total
16692,6,Município,45,Pessoas,2456,5222302,Vila Propício - GO,5,Mulheres,2010,2010,93,População residente,0,Total,0,Total
16693,6,Município,45,Pessoas,2570160,5300108,Brasília - DF,0,Total,2010,2010,93,População residente,0,Total,0,Total
16694,6,Município,45,Pessoas,1228880,5300108,Brasília - DF,4,Homens,2010,2010,93,População residente,0,Total,0,Total
16695,6,Município,45,Pessoas,1341280,5300108,Brasília - DF,5,Mulheres,2010,2010,93,População residente,0,Total,0,Total

Se quesermos baixar os dados de apenas um município, basta passarmos o geocódigo na consulta.

In [75]:
data = IBGE.get_sidra_table(200,territorial_level=6, geocode=3303302,period='last',classification=2, categories='all')
data

Requesting data from https://apisidra.ibge.gov.br/values/t/200/n6/3303302/p/last/c2/all

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N,D5C,D5N,D6C,D6N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Município (Código),Município,Ano (Código),Ano,Sexo (Código),Sexo,Variável (Código),Variável,Situação do domicílio (Código),Situação do domicílio,Grupo de idade (Código),Grupo de idade
1,6,Município,45,Pessoas,487562,3303302,Niterói (RJ),2010,2010,0,Total,93,População residente,0,Total,0,Total
2,6,Município,45,Pessoas,225838,3303302,Niterói (RJ),2010,2010,4,Homens,93,População residente,0,Total,0,Total
3,6,Município,45,Pessoas,261724,3303302,Niterói (RJ),2010,2010,5,Mulheres,93,População residente,0,Total,0,Total